image: Visual Studio 2019

version: '{build}'

configuration: Release

build_script:
  - ps: ./build/build.ps1

test: off

artifacts:
  - path: artifacts/Serilog.*.*nupkg
    name: NuGet
    type: NuGetPackage

deploy:
  - provider: GitHub
    tag: ${APPVEYOR_REPO_TAG_NAME}
    release: Release ${APPVEYOR_REPO_TAG_NAME}
    description: TODO
    auth_token:
      secure: de2wnJZf6k7NY0XriDpf9BkrQ4MR5ZfDDWMM+H/K4OK3w0GpuJAMRj5PrO6tKu0K
    artifact: NuGet
    draft: true
    on:
      APPVEYOR_REPO_TAG: true
  - provider: NuGet
    api_key:
      secure: 0T2fKXtV1YG6CvJL424YGEwRzbxNPKHW7ZZA6arI1RoCW7gW3REgKx1ddPpDopaL
    symbol_server: https://www.nuget.org
    skip_symbols: false
    on:
      APPVEYOR_REPO_TAG: true
